<!DOCTYPE html>
	<html>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<head>
			<a href="/index.html">
				<img src="/files/RqueR_logo_alargado.png" alt="" style="width:600px;height:175px;">
			</a>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<p></p>
		<a href="https://twitter.com/RqueRblog" class="twitter-follow-button" data-show-count="false">Follow @RqueRblog</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<p></p>
		<a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="RqueRblog">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		
		
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="/index.html">Inicio</a></li>
        		<li><a href="/Miscelanea/biblioteca_de_datos_abiertos.html">Biblioteca de datos</a></li>
        		<li><a href="/Miscelanea/recursos_en_R.html">Biblioteca de recursos en R</a></li>
        		<li><a href="mailto:rquerblog@gmail.com">email</a></li>
        		<li><a href="https://github.com/rquer">RqueR github</a></li>
				</ul>
			</footer>
		</body>
	</html>

